@import url('https://fonts.googleapis.com/css2?family=Life+Savers&family=Mochiy+Pop+P+One&display=swap');

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height:100vh;
    margin: 0;
    background: #212534;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    display: flex;
    align-items: center;
    justify-content: center;
}


h1 {
    font-family: 'Life Savers', cursive;
    font-size: 3.5rem;
    font-weight: lighter;
    margin: 0;
}


/* TODO: Figure out what this is */ 
@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}


/* something with this makes the cool background effect */
:root {
    --card-height: 70vh;
    --card-width: calc(var(--card-height) / 1.5);
}

.card {
    background: #191c29;
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    border-radius: 6px;
    /*color: rgb(88 199 250 / 0%); /* how does this even work */
    cursor: pointer;
    color: rgb(88 199 250);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.card--header {
    width: 100%;
    border-bottom: 2px solid black;
    border-radius: 300px/90px;
    padding: 30px 0 10px 0;
    box-shadow: 0 30px 20px -20px rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    flex-direction: column;
}


.card--main {
    width: 100%;
    border-bottom: 2px solid black;
    border-radius: 300px/90px;
    text-align: center;
    padding: 30px 10px 50px 10px;
    box-shadow: 0 30px 20px -20px rgba(0, 0, 0, 0.5);
}

.card--loadingbar {
    border: 1px solid black;
    border-radius: 3px;
    margin: 0;
    padding: 0;
    width: fit-content;
}
.card--loadingbarProgress {
    margin: 0;
    padding: 0;
    background-color: #3c1f58;
}
.card--loadingbarText {
    margin: 0;
    padding: 2px 40px;
    width: max-content;
    color:#d8d4d4;
}


.card:hover:before, .card:hover:after {
    animation: none;
    opacity: 0.2;
}

.card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient( var(--rotate), #be00fe, #00fe7f 43%, #7f01fe );
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient( var(--rotate), #be00fe, #00fe7f 43%, #7f01fe );
    opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }
    100% {
        --rotate: 360deg;
    }
}